<div class="create-container">

  <h2>New Simple Poll</h2>

  <label for="create-simple-title">Title</label>
  <input type="text" id="create-simple-title" class="input" placeholder="Title" />

  <br />
  <br />

  <label for="create-simple-question">Question</label>
  <input type="text" id="create-simple-question" class="input" placeholder="Question" />

  <br />
  <br />

  <hr />

  <div id="create-simple-answers">
    <span>Answers</span>
    <div class="create-simple-answer-wrapper">
      <input type="text" class="input" id="create-simple-answer-0" placeholder="Answer" />
    </div>
    <div class="create-simple-answer-wrapper">
      <input type="text" class="input" id="create-simple-answer-1" placeholder="Answer" />
    </div>
  </div>

  <br />

  <input type="checkbox" id="create-simple-multiple-answers">
  <label for="create-simple-multiple-answers">Multiple Answers</label>

  <br />
  

  <input type="checkbox" id="create-simple-duplicate-protection">
  <label for="create-simple-duplicate-protection">Duplicate Protection</label>

  <br />
  <br />

  <button class="btn btn-primary" id="create-simple-create-poll-btn">Create Poll</button>

  <script src="/js/create_simple.js"></script>

</div>