<div class="terminal-nav">
  <footer>
    <div class="">
      <span>
        Copyright 2020 Janina&nbsp;Wibker
      </span>
    </div>
  </footer>
  <nav class="terminal-menu">
    <ul>
      <li><a href="https://github.com/JaninaWibker/poll"><span>Source Code</span></a></li>
      <li><a href="https://janina.lol"><span>Website</span></a></li>
      <li><a href="/about"><span>About</span></a></li>
    </ul>
  </nav>
</div>