<div class="terminal-nav">
  <header>
    <div class="">
      <a href="/" class="">Polls</a>
    </div>
  </header>

  <nav class="terminal-menu">
    <ul>
      <li><a href="/create"><span>Create A Poll</span></a></li>
    </ul>
  </nav>
</div>