<div class="index-container">

  <h2>Create A New Poll / Survey</h2>

  <br />
  <br />
  <br />

  <div class="index-text-between-buttons">Choose Either</div>

  <a href="/create" class="btn btn-primary btn-block">Simple</a>

  <br />

  <div class="index-text-between-buttons">Or</div>

  <a href="/create/advanced" class="btn btn-primary btn-block">Advanced</a>

  <br />
  <br />
  <br />

  <blockquote>
    <p>
      With <strong>'Simple'</strong> you can get up and running fast. Just create a simple poll with a few answers to choose from.
      <br />
      <br />
      <strong>'Advanced'</strong> allows you to create full scale surveys, has (limited) markdown support and has specific tools for data analysis.
    </p>
  </blockquote>

</div>