<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="apple-touch-icon" sizes="180x180" href="" />
    <link rel="icon" type="image/png" size="32x32" href="" />
    <link rel="icon" type="image/png" size="16x16" href="" />
    <link rel="mask-icon" href="" color="#000000" />
    <link rel="manifest" href="" />
    <title>%TITLE%</title>
    <meta name="theme-color"                content="%THEME_COLOR%" />
    <meta name="viewport"                   content="width=device-width, initial-scale=1" />
    <meta property="og:site_name"           content="polls.jannik.ml" />
    <meta property="og:title"               content="%TITLE%" />
    <meta property="og:description"         content="%DESCRIPTION%" />
    <meta property="og:type"                content="website" />
    <meta property="og:image"               content="" />
    <meta property="og:url"                 content="https://polls.jannik.ml" />
    <meta property="og:locale"              content="en_GB" />
    <meta property="og:locale:alternative"  content="de_DE" />
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>

    <div class="container">
      <%= erb :header %>
    </div>

    <div class="container main">

      <%= yield %>

    </div>

    <div class="container">
      <%= erb :footer %>
    </div>

  </body>
</html>
